.title {
  font-weight: 900;
  font-size: 28px;
  color: transparent;
  background: var(--background-title-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  padding: 0 20px;
  text-shadow: 0px 4px 4px rgba(193, 193, 193, 0.07);
}
